# Cache, temp and personal files

/.well-known/*
/app/*
/bin/*
/cache/*
/cgi-bin/*
/classes/*
/config/*
/controllers/*
/docs/*
/download/*
/helloadmin/*
/img/*
/js/*
/localization/*
/mails/*
/pdf/*
/tool/*
/translations/*
/upload/*
/var/*
/vendor/*
/webservice/*
/.htaccess
/autoload.php
/composer.lock
