#products .psproductcountdown .count.curr, #products .psproductcountdown .count.bottom,
.psproductcountdown .count.curr, .psproductcountdown .count.bottom {
    display: none;
}
.psproductcountdown .hidden {
    display: none;
}

#product .psproductcountdown {
    width: 280px;
    padding: 10px 0 0 0;
    text-align: center;
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.product-miniature .psproductcountdown {
   
}
.product-miniature:hover .psproductcountdown {
    
}
.psproductcountdown {
  float: left;
  padding: 20px 0 0 0;
}
.pspc-main .time {
  margin: 0 12px;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 40px;
  width: 40px;
  max-width: 7em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
}
.pspc-main .time::after {
/*    content: '|';
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0px;
    left: auto;
    display: inline-block;
    color: #e5e5e5;
    font-size: 30px;
    line-height: normal;*/

}
.pspc-main .time::after {
  content: '';
  position: absolute;
  border-right: 1px solid #e5e5e5;
  height: 20px;
  top: 11px;
  right: -10px;
  left: 0;
  bottom: 0;
}
.pspc-main .time:last-child:after {
border:none;
}
.pspc-main .time.seconds::after{ }
.pspc-main .time.days{
  margin-left: 0;
}
.pspc-main .label {
  color: #000;
  display: block;
  font-weight: 400;
  padding: 0;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  top: 24px;
  font-size: 11px;
}

@media (max-width: 767px) {
.psproductcountdown {
  padding-top: 10px;
  float: none;
  text-align: center;
  display: inline-block;
}
}
@media (max-width: 480px) { 

  .pspc-main .time{
    margin: 0 10px;
  }

}
