<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cookiesplus</name>
	<displayName><![CDATA[Cookies Plus - EU Cookie law (notification + block)]]></displayName>
	<version><![CDATA[1.0.8]]></version>
	<description><![CDATA[Comply with the EU cookie law using this module]]></description>
	<author><![CDATA[idnovate]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete the module and the related data?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>