.vertical-menu .top-menu a[data-depth="0"] {
  padding: 0px;
}
.vertical-menu .top-menu[data-depth="1"] {
	margin:0;
}
.vertical-menu .top-menu a:not([data-depth="0"]) {
    display: block;
    padding: 5px  0;
    color: #acaaa6;
    font-weight: 400;
}

.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
  float: left;
  min-width: 165px;
  margin-right: 30px !important;
}
/*.vertical-menu .top-menu a.dropdown-submenu {
    color: #004880;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
}*/
.vertical-menu .top-menu a {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: capitalize;
  white-space: initial;
}
/*.vertical-menu .top-menu a[data-depth="1"],
.vertical-menu .top-menu a[data-depth="2"] {
    padding: 0 0 10px 0;
}*/
.vertical-menu .top-menu .collapse {
    display: inherit;
}
.vertical-menu .top-menu .sub-menu {
  background: #2457aa;
  /*border: 1px solid #2457aa;*/
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
 -webkit-border-radius: 0 5px 5px 0;
-khtml-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
-o-border-radius: 0 5px 5px 0;
  display: none;
  left: 100%;
  position: absolute;
  top: 0 !important;
  width: 250px;
  padding: 0;
  z-index: 8;
  transition: all 0.3s ease 0s;
 -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
  opacity: 0;
	 -khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
  -ms-opacity: 0;
-o-opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
  transform: scale(0, 1);
 -webkit-transform: scale(0, 1);
	-ms-transform:scale(0, 1);
	-o-transform:scale(0, 1);
	-moz-transform:scale(0, 1);
   transform-origin: left center 0;
	display: inline !important;
}
.vertical-menu .top-menu > li:hover > .sub-menu {
  transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
	-ms-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	-moz-transform:scale(1, 1);
     opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
  -ms-opacity: 1;
-o-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.vertical-menu .top-menu > li > .sub-menu::after {
	content: "\f0d9";
	color: #fff;
	font-family: FontAwesome;
	font-size: 45px;
	right: auto;
	margin: 0 auto;
	position: absolute;
	left: -15px;
	text-align: center;
	bottom: 0;
	z-index: 9999;
	top: -7px;
}
.vertical-menu .top-menu .sub-menu.collapse {
    display: none;
}

#header .header-top #tm_vertical_menu_top .menu ul[data-depth="0"] li a {
/*  color: #000;*/
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 13px 20px 13px 40px;
}
.tm_sf-menu.top-menu[data-depth="2"] {
	padding-top: 10px;
}
#header .header-top #tm_vertical_menu_top .menu ul[data-depth="2"] li a {
	color: #5a5a5a !important;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	padding: 8px 0 8px 15px;
}
#header .header-top #tm_vertical_menu_top .menu ul[data-depth="2"] li a:hover {
	color: #ffd200 !important;
}
#header .header-top #tm_vertical_menu_top .menu ul[data-depth="1"] li a {
	color: #000;
}
#header .header-top #tm_vertical_menu_top .menu ul[data-depth="0"] li a:hover {
    color: #f2b527;
}
#header .header-top #tm_vertical_menu_top .menu ul[data-depth="0"] li a:hover .pull-xs-right.hidden-sm-down .material-icons.left {
  color: #f2b527;
}
/*.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
    float: left;
    min-width: 180px;
}*/

#_desktop_top_menu #top-menu > li .sub-menu.threecolumn {
  width: 875px;
}
#_desktop_top_menu #top-menu > li .sub-menu.twocolumn {
	width: 500px;
}
.top-menu a.dropdown-item.dropdown-submenu[data-depth="1"] {
	display: block;
	font-weight: 600 !important;
	color: #1f4c94 !important;
	/* padding: 5px 0; */
	text-transform: uppercase;
	font-size: 14px !important;
	/* border-bottom: 1px solid #2b69cc !important; */
	padding: 0 0 20px 0 !important;
}
.vertical-menu .top-menu .sub-menu {
	background: #fff;
}
.vertical-menu .top-menu a[data-depth="1"], .vertical-menu .top-menu a[data-depth="2"] {
	background: transparent !important;
	border-bottom: none !important;
}
.vertical-menu .top-menu .sub-menu {
	background: #fff;
	padding: 50px;
}
@media(max-width: 1200px){
    .vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li{
        min-width: 180px;
    }
}
.vertical-menu .top-menu .popover {
    max-width: inherit;
}
/*.vertical-menu  .top-menu a.dropdown-submenu {
    color: #000 !important;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
}*/
/*.vertical-menu .top-menu .sub-menu a {
    color: #000;
}*/
/*.top-menu a.dropdown-item.dropdown-submenu[data-depth="1"] {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 5px 0;
  text-transform: capitalize;
}*/
/*#tm_vertical_menu_top #top-menu .sub-menu li:first-child > a[data-depth="2"] {
  padding-top: 5px;
}*/
.vertical-menu .top-menu a[data-depth="0"] {
  background-position: 0 15px;
  background-repeat: no-repeat;
  font-size: 12px;
  text-transform: capitalize;
}
.vertical-menu .top-menu a[data-depth="0"]:hover,
.vertical-menu .top-menu .sub-menu a:hover{
    color: #2fb5d2;
    text-decoration: none;
}
.vertical-menu .top-menu a[data-depth="0"]:hover,
#tm_vertical_menu_top .top-menu > li:hover > a{
	color: #f2b527;
    text-decoration: none;
}

.vertical-menu .top-menu .menu-images-container img{ max-width: 100%;  }

/*#header .header-top .menu ul[data-depth="0"] li:hover .top-menu[data-depth="2"] li a {
    color: #808080 !important;
}*/
#header .header-top .menu .top-menu[data-depth="2"] li {
    width: 100% !important;
}
/*#header .header-top .menu .top-menu[data-depth="2"] li a {
    font-weight: normal !important;
    text-transform: capitalize !important;
    color: #808080 !important;
}*/
#index #left-column #tm_vertical_menu_top{ display: none;}
#tm_vertical_menu_top {
  float: left;
  padding: 0;
  position: relative;
  width: auto;
  cursor: pointer;
  margin-right: 15px;
}
#tm_vertical_menu_top #_desktop_top_menu {
  float: left;
  padding: 0 14px 0 0;
  position: relative;
  width: 100%;
}
#left-column #tm_vertical_menu_top #_desktop_top_menu { padding: 0;}
#left-column #tm_vertical_menu_top {
  border-radius: 5px;
 -webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
  position: relative;
  width: 100%;
}
#index #tm_vertical_menu_top #top-menu {
  position: absolute;
}
#left-column #tm_vertical_menu_top #top-menu {
  background-color: #ffffff;
    margin-bottom: 20px;
  padding: 5px;
  }

#tm_vertical_menu_top .block-title {
  float: left;
  padding: 10px 20px 10px 0;
  position: relative;
  width: 180px;
  cursor: pointer;
  transition: all 500ms ease 0s;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -ms-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
}

#tm_vertical_menu_top .block-title:hover{
    /*background: #000;
  border-color: #000;*/
}
#tm_vertical_menu_top .block-title .material-icons.expand-more {
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  float: right;
  display: none;
}
#index #tm_vertical_menu_top .block-title {  /*top: -87px;   left: -20px;*/}
#tm_vertical_menu_top .block-title {
/*  top: -66px;
  left: 1px;*/
}
#header #tm_vertical_menu_top .top-menu ul > li > a:hover {
  color: #000 !important;
}
#tm_vertical_menu_top .block-title:hover .menu-title,#tm_vertical_menu_top .block-title:hover .menu-open {

    color: #fff;
}
#tm_vertical_menu_top ul[data-depth > "0"]{
    display: block;
}
#tm_vertical_menu_top #top-menu {
  background: #2457aa none repeat scroll 0 0;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
  float: left;
  width: 243px;
  border: 1px solid #2457aa;
  border-radius: 0px 0px 5px 5px;
  z-indexwebkit-border-radius: 0px 0px 5px 5px; 
   -khtml-border-radius: 0px 0px 5px 5px; 
   -moz-border-radius: 0px 0px 5px 5px; 
   -o-border-radius: 0 0 5px 5px;
  display: none;
}
/*.header-top #tm_vertical_menu_top #top-menu.top-menu[data-depth="0"] {
  padding: 20px 0px 30px;
}
*/
#tm_vertical_menu_top #top-menu li{
    position: relative;
    margin: 0;
/*    display:block;*/
    /*border-bottom: 1px solid #2b69cc;*/
  /*  width: 100%;*/
    color: #000;
}
#tm_vertical_menu_top .top-menu > li > a, #tm_vertical_menu_top .more-view {

	color: #fff;
	border-bottom: 1px solid #2b69cc;
	width: 100%;
	white-space: normal;
}
.top-menu .collapse {
  display: inherit;
}
#tm_vertical_menu_top #top-menu li:last-child {
  border-bottom: none;
}
/*#_desktop_top_menu #top-menu > li .sub-menu.twocolumn {
  width: 435px;
}*/
/*.header-top #tm_vertical_menu_top #top-menu li {
 float: left;
  margin-right: 0;
  width: 25%;
}*/
/*#tm_vertical_menu_top #top-menu li:nth-child(2n+1) {
  background-color: #f7f7f7;
}*/

/*.vertical-menu .top-menu[data-depth="1"] li {
  background-color: #ffffff !important;
}*/
/* .top-menu[data-depth="2"] .category > a {
    padding: 0;
}*/
.menu-title {
  color: #fff;
  float: left;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 18px;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  width: auto;
}
.menu-title1 {
  float: left;
  width: auto;
  font-size: 15px;
  color: #ffd200;
  font-weight: 600;
}
.vertical-menu .top-menu .pull-xs-right.hidden-sm-down .material-icons.left, .vertical-menu .top-menu .pull-xs-right.hidden-sm-down .material-icons.right {
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 22px;
    width: 22px;
    padding: 3px;
    display: none;
}
#top_sub_menu_:hover.top-menu li a::after {
  content: "\f0d9";
  color: #ffffff;
  font-family: FontAwesome;
  font-size: 45px;
  left: auto;
  margin: 0 auto;
  position: absolute;
  right: -4px;
  text-align: center;
  bottom: 0;
  z-index: 9999;
  top: 13px;
}
.vertical-menu .top-menu .pull-xs-right.hidden-sm-down .material-icons.right {
    display: none;
}
#tm_vertical_menu_top .block-title .menu-title1::after {
  position: absolute;
  content: "\f0d7";
  right: 28px;
  font-family: FontAwesome;
  left: auto;
  font-weight: 400;
  font-size: 12px;
}
#tm_vertical_menu_top .more-view {
  color: #fff;
  display: inline-block;
  padding: 0;
  width: 100%;
  padding: 15px 20px 15px 15px;
}
#tm_vertical_menu_top li:hover .more-view{ color: #f2b527;}
.more-wrap {
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
#tm_vertical_menu_top .more-wrap .material-icons {
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	float: left;
	left: 0;
	color: #fff;
	padding-right: 24px;
}
#tm_vertical_menu_top .more-wrap:hover .material-icons {
	color: #f2b527;
}
@media(max-width: 1449px){

	#tm_vertical_menu_top .more-view{ font-size: 12px;}
	#tm_vertical_menu_top .more-wrap .material-icons {
	  font-size: 12px;
	  line-height: 24px;
	}
}
@media(max-width: 1199px){
  #tm_vertical_menu_top{margin-right: 15px;}

  #tm_vertical_menu_top .more-view {
    font-size: 12px;
  }
  #tm_vertical_menu_top #top-menu {
	width: 205px;
}
#_desktop_top_menu #top-menu > li .sub-menu.threecolumn {
	width: 762px;
}
.vertical-menu .top-menu .sub-menu {
	padding: 20px 0px 20px 20px;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
	margin-right: 15px !important;
}
}